asgiref==3.8.1
cloudpickle==3.0.0
contourpy==1.2.1
cycler==0.12.1
eventkit==1.0.3
Farama-Notifications==0.0.4
filelock==3.15.4
fonttools==4.53.1
fsspec==2024.6.1
gym==0.26.2
gym-notices==0.0.8
gymnasium
huggingface-hub==0.24.5
ib-insync==0.9.86
joblib==1.4.2
kiwisolver==1.4.5
lxml==5.2.2
MarkupSafe==2.1.5
mpmath==1.3.0
numpy==1.26.4
pandas==2.2.2
pillow==10.4.0
pyparsing==3.1.2
safetensors==0.4.4
scikit-learn==1.5.1
scipy==1.13.0
setuptools==69.5.1
simplejson==3.19.2
sqlparse==0.5.0
stable_baselines3
sympy==1.13.1
threadpoolctl==3.5.0
tqdm==4.66.4
tzdata==2024.1
wheel==0.43.0
torch==1.8.1 